<button title="take notes" class="widget-button btn btn-default no-text btn-icon" id="note-button">
    {{d-icon "sticky-note"}}
</button>

<div id="note-body">
    {{#if notes}}
        <ul>
            {{#each notes as |note|}}
                <li>
                    {{note.content}}

                    <button type="button" class="btn btn-danger" {{action "deleteNote" note}}>
                        {{i18n "personal_notes.delete_note_label"}}
                    </button>
                </li>
            {{/each}}
        </ul>
    {{/if}}
    <form {{action "createNote" note on="submit"}}>
        <div id="color-choice-container">
            <div class="color-choice" id="first-color"></div>
            <div class="color-choice" id="second-color"></div>
            <div class="color-choice" id="third-color"></div>
            <div class="color-choice" id="fourth-color"></div>
            <div class="color-choice" id="fifth-color"></div>
        </div>
        {{textarea id="note" name="note" value=note}}
        <div id="control-panel">
            <button type="button" id="styleSettings">Show Settings</button>
            <input type="submit" value="Save Note" id="save" />
        </div>
        <div class="note-body-buttons" id="note-body-buttons">
            <label for="fonts">Font:</label>
            <select name="fonts" id="fonts-selector">
                <option value="font-default" disabled selected>Default</option>
                <option value="Times New Roman" id="first-font">Times New Roman</option>
                <option value="Arial" id="second-font">Arial</option>
                <option value="Courier" id="third-font">Courier</option>
            </select>

            <label for="font-styles">Font Style:</label>
            <select name="font-styles" id="font-styles-selector">
                <option value="style-default" disabled selected>Default</option>
                <option value="normal" id="first-style">Normal</option>
                <option value="italic" id="second-style">Italic</option>
                <option value="bold" id="third-style">Bold</option>
            </select>

            <label for="font-sizes">Size:</label>
            <select name="font-sizes" id="font-sizes-selector">
                <option value="size-default" disabled selected>Default</option>
                <option value="small" id="first-size">Small</option>
                <option value="medium" id="second-size">Medium</option>
                <option value="large" id="third-size">Large</option>
            </select>
            <button type="button" id="saveStyle">Save Style</button>
        </div>
    </form>
</div>